html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-size: 1.6rem;
}

body {
  font-size: 1.6rem;
}

$secondaryColor: #00bea5;

@mixin button($type) {
  color: white;
  margin-top: 20px;
  border: none;
  padding: 1.8rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.6rem;

  @if $type == primary {
    background-color: #000;
  } @else if $type == secondary {
    background-color: $secondaryColor;
  }
}

.bold {
  font-weight: bold;
}

body {
  // border: 1px solid #000;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  gap: 50px;
}

main {
  margin-top: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}

// .card {
//   // border: 1px solid #000;
//   width: 250px;
//   margin-bottom: 20px;
//   text-align: center;

//   .img__section {
//     max-height: 500px;
//     overflow: hidden;

//     img {
//       object-fit: cover;
//       width: 100%;
//       height: auto;
//     }
//   }

//   .card__body {
//     .card__name {
//       font-size: 2rem;
//       text-transform: capitalize;
//       height: 4rem;
//       margin-top: 20px;
//     }

//     hr {
//       width: 15px;
//       margin: 10px auto;
//       border: 1px solid gold;
//     }

//     .card__price > * {
//       font-size: 2.5rem;
//     }

//     .card__wholesale {
//       color: #ccc;
//       font-size: 2rem;
//       span {
//         font-size: 2rem;
//       }
//     }

//     .btn__card {
//       @include button(primary);
//       transition: 0.3s;
//     }

//     .btn__card:hover {
//       @include button(secondary);
//     }
//   }
// }

// .cart {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   border: 1px solid black;
//   width: 350px;

//   .cart__details > * {
//     margin-bottom: 5px;
//   }

//   .cart__image__container {
//     width: 75px;
//   }

//   img {
//     border-radius: 10px;
//     width: 100%;
//     height: 100%;
//   }
// }

.sideBar {
  translate: 0;
  transition: 0.3s;
  background-color: $secondaryColor;
  height: 100vh;
  position: fixed;
  overflow: auto;
}

.sideBar--hidden {
  height: 100vh;
  background-color: $secondaryColor;
  position: fixed;

  translate: -400px;
  transition: 0.3s;
}

.sideBar__toggle {
  cursor: pointer;
  // position: fixed;
  padding: 20px;

  * {
    font-size: 3rem;
    margin-right: 10px;
  }
}

.qty__counter {
  font-size: 2rem;
  display: inline-block;
  background-color: $secondaryColor;
  text-align: center;
  padding: 10px;
  width: 50px;
  border-radius: 50px;
}

// CART BAR
// .cart__bar {
//   display: grid;
//   grid-template-rows: 100px 1fr 200px;
//   width: 400px;
//   position: fixed;
//   // padding: 20px;
//   background-color: $secondaryColor;
//   height: 100vh;

//   > div {
//     // border: 1px solid #000;
//   }

//   .cart__bar--header {
//     box-shadow: -4px 2px 10px rgba($color: #000000, $alpha: 0.5);

//     // align-self: start;
//   }

//   .cart__bar--body {
//     padding: 20px;
//     overflow: auto;
//   }

//   .cart__bar--body::-webkit-scrollbar {
//     width: 5px;
//     height: 100%;
//   }

//   .cart__bar--body::-webkit-scrollbar-thumb {
//     border-radius: 100px;
//     background: #1c1c1c;
//   }

//   /* Handle on hover */
//   .cart__bar--body::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }

//   .cart__bar--footer {
//     box-shadow: -4px -2px 10px rgba($color: #000000, $alpha: 0.5);
//     display: flex;
//     justify-content: space-between;
//     padding: 20px 20px;
//     font-size: 2.5rem;
//     text-transform: uppercase;
//   }
// }

.size__filter {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  // button {
  //   width: 100px;
  //   height: 100px;
  //   border-radius: 100px;
  //   font-size: 1.5rem;
  //   transition: 0.2s;
  // }

  // button:hover {
  //   background-color: #000;
  //   color: white;
  //   font-size: 2rem;
  // }

  .selected {
    color: white;
    background-color: black;
    font-size: 2rem;
  }
}
