.navBar {
  width: 100%;
  background-color: cadetblue;
  position: fixed;
}

.layout {
  display: grid;
  grid-template-columns: 300px 900px 1fr;
  gap: 40px;
  padding: 70px 10px;

  main {
    display: flex;
    justify-content: center;
    width: 100%;

    // flex-direction: column;
    // flex-direction: row;
    // align-items: center;
    // width: 800px;

    .cards {
      display: flex;
      gap: 40px;
      justify-content: center;
      width: 800px;
      flex-wrap: wrap;
      //   margin-top: 70px;
      //   border: 1px dashed red;
    }
  }

  .size__filter {
    position: fixed;
    background-color: cadetblue;
    border-radius: 30px;
    text-align: center;
    height: 400px;
    width: 100px;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .selected {
      background-color: black;
      color: wheat;
    }
  }
}

// HOME PAGE
