.header-component {
  padding-bottom: 100px;
  // border: 1px dashed red;
}

.navBar {
  width: 100%;
  background-color: cadetblue;
  position: fixed;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 100px;

  .links {
    display: flex;
    gap: 20px;
  }

  .link {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.layout {
  display: grid;
  grid-template-columns: 300px 900px 1fr;
  gap: 40px;
  padding: 0 10px 50px 10px;
  // padding-bottom: 100px;

  main {
    display: flex;
    justify-content: center;
    width: 100%;

    .cards {
      display: flex;
      gap: 40px;
      justify-content: center;
      width: 800px;
      flex-wrap: wrap;
    }
  }

  .size__filter {
    position: fixed;
    background-color: cadetblue;
    border-radius: 30px;
    text-align: center;
    height: 400px;
    width: 100px;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .selected {
      background-color: black;
      color: wheat;
    }
  }
}

.cart__link {
  position: relative;
}

.counterOnLink {
  background-color: #fff;
  border-radius: 100px;
  font-size: 1.2rem;
  position: absolute;
  right: -15px;
  top: -4px;
  padding: 1px 2px;
}
