.card {
  color: #fff;
  border-radius: 30px;
  width: 200px;
  background-color: cadetblue;
  transition: 0.2s;

  img {
    border-radius: inherit;
    width: 100%;
  }

  .card__detail {
    border-radius: inherit;
    padding: 10px;

    .card__title {
      margin-bottom: 10px;
    }

    p {
      font-size: 2rem;
    }
  }

  .card__footer,
  .btn {
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    font-size: 1.7rem;
    color: #fff;
    background-color: #171717;
    border: none;
    height: 50px;
  }

  .card__footer {
    transition: 0.1s;

    .card__item__size {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding: 0 20px;

      button {
        color: rgb(200, 229, 230);
        border: none;
        background: none;
        font-size: 1.8rem;
        text-transform: uppercase;
        transition: 0.1s;
      }

      button:hover {
        color: #fff;
        cursor: pointer;
        transform: translatey(-3px) scale(1.3);
        font-weight: bold;
      }
    }
  }

  .card__footer:hover {
    border-radius: 0 30px 30px 30px;
    border-top: 1px solid #fff;
    background-color: cadetblue;
  }
}

.card:hover {
  box-shadow: 0 0 10px 10px #ccc;
  cursor: pointer;
}
