.card {
  color: #fff;
  border-radius: 30px;
  width: 200px;
  //   border: 1px solid #000;
  background-color: cadetblue;

  img {
    border-radius: inherit;
    width: 100%;
  }

  .card__detail {
    border-radius: inherit;
    padding: 10px;

    .card__title {
      margin-bottom: 10px;
    }

    p {
      font-size: 2rem;
    }
  }

  .btn {
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    color: #fff;
    background-color: #171717;
    border: none;
    height: 40px;
  }
}
