.cart {
  border-radius: 30px;
  box-shadow: 0 0 10px 0px #ccc;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  position: fixed;
  margin-left: 40px;
  width: 360px;

  .cart__header {
    color: #fff;
    border-radius: 30px 30px 0 0;
    background-color: cadetblue;
    flex: 0 0 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 #6b6b6b50;

    p {
      margin-left: 10px;
      background-color: #fff;
      border-radius: 30px;
      font-weight: bold;
      color: #000;
      padding: 5px;
    }
  }

  .cart__body {
    flex: 1 1 auto;
    overflow-y: hidden;

    img {
      border-radius: 10px 0 0 0;
      width: 50px;
    }

    .cartItem__name {
      margin-left: 10px;
    }

    .cartItem {
      position: relative;
      border-radius: 10px;
      border: 1px solid black;
      margin: 20px;
      width: 300px;

      .cartItem__delete {
        opacity: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: 0.3s;
      }

      .cartItem__body {
        display: flex;
        align-items: center;
      }

      .cartItem__footer {
        border-radius: 0 0 10px 10px;
        background: cadetblue;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .cartItem__counter {
        }
      }
    }
  }

  .cartItem:hover .cartItem__delete {
    opacity: 1;
  }

  .cart__body:hover {
    overflow-y: scroll;
  }

  .cart__footer {
    z-index: 1;
    box-shadow: 0 -5px 10px 0 #6b6b6b50;

    border-radius: 0 0 30px 30px;
    background-color: cadetblue;
    color: #fff;
    flex: 0 0 100px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: 600;
  }
}
